/* google fonts 

1. open sans
2. raleway

*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500&display=swap');

/* global css file */
*{
	margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
a,a:hover{
	text-decoration: none;
}
/* Sticky */
.sticky{
	position: fixed;
	z-index: 9999;
	background: rgba(0,0,0,0.6) !important;
}
.line {
  margin: 0 auto;
  margin-top: 25px;
  width: 70px;
  height: 2px;
  margin-bottom: 25px;
  background-color: #ff8b38;
}
/* button  */
button:focus{
  outline: none;
}

/* start header section css */
header{
  width: 100%;
  background: black;
  padding: 15px 0;
}
.nav-item{
  margin-left: 20px;

}
.nav-link:hover{
  color: #ff9b51 !important;
}
.nav-link{
  color: #fff !important;
  font-family: 'Open Sans', sans-serif;
  font-weight:600;
  font-size: 18px !important;
  transition: .3s ease-in-out !important;
}
/*start banner section css */
.banner{
  background: url(./img/banner.png)  no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.banner-content{
  display: table-cell;
  height: 100vh;
  vertical-align: middle;

}
.banner .banner-content h1{
  margin: 30px 0;
  font-size: 40px;
  color: #fff;
  font-family: 'Raleway',sans-serif;
}
.banner-content p{
  margin: 30px 0;
  font-size: 16px;
  color: #fff;
  font-family: 'Raleway',sans-serif;
}
.banner-content .line{
  width: 80px;
  height: 2px;
  background: #fff;
}
.banner-content .banner-btn{
  background: transparent;
  padding: 12px 20px;
  color: #fff;
  border: none;
  border: 1px solid #e87825;
  font-family: 'Raleway',sans-serif;
  transition: .3s ease-in-out;
}
.banner-content .banner-btn:hover{
  background: #ff9b51;
  border-color: #ff9b51;
  cursor: pointer;
}
 .banner-card-form{
  display: flex;
  height: 100vh;
  align-items: center;
}

.form-control {
  padding: 25px 10px !important;
  border: none !important;
  border-bottom: 1px solid #333 !important;
  border-radius: 0;

}
.form-group{
  position: relative !important;
}
.form-group label{
  font-family: 'Raleway',sans-serif;
  position: absolute !important;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color:black;
  transition: .5s;
  pointer-events:none ;
}
.form-group input:focus ~ label,
.form-group input:active ~ label
{
  top: -24px;
  color: #ff9b51;
  font-size: 12px;
  font-family: 'Raleway',sans-serif;
}


.banner-card-form .card-body{
	padding: 20px 30px !important;
}
.banner-card-form .card-header{
	background: #f5f5f5 !important;
}
.banner-card-form .card-header h4{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}
.banner-card-form .card-header h4 span{
	text-transform: uppercase;
	color: #ff9b51;
}
.banner-card-form .card-footer{
	background: #ff9b51;
}
.banner-card-form .card-footer .form-control:last-child{
  background: transparent;
  color: white;
  border-bottom: none !important;
  padding: 0 0 !important;
}
.banner-card-form .card{
	border: none;
	margin-left: 100px;
}
.form-control:focus{
	outline: none;
	box-shadow: none;
}
/* social-section section css */
.social-section{
	width: 100%;
	padding: 30px 0 20px 0;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.6);
}
.social-section h3{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}
.social-section p{
	font-family: 'Open Sans', sans-serif;
}
.social-section ul{
	margin-top: 18px !important;
}
.social-section ul li{
	list-style: none;
	display: inline-block;
	margin-left: 32px;
}
.social-section .col-md-5{
	text-align: left !important;
}
.social-section .col-md-7{
	text-align: right !important;
}
.social-section .col-md-7 ul li a i{
	font-size: 48px;
	color: #cccccc;
}
/* tab css start here */
.feature{
  width: 100%;
  padding: 120px 0px;
  background-color: #f5f5f5;
}
.feature .tab ul>li {
  width: 120px;
  height: 110px;
  text-align: center;
  list-style: none;
  font-weight: 700;
  margin-bottom: 1px;
  line-height: 110px;
  text-transform: uppercase;
  cursor: pointer;
  background: #333333;
}
.tab ul>li>a{
  color: #fff !important;
}
.active-color {
  background: #ff9b51 !important;
}
.tab ul li.item-1{

  border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
.tab ul li.item-3{
  border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.tab ul li:hover{
	background: #ff8b38 !important;
	transition: 0.5s ease-in-out;
	cursor: pointer;
}
.feature h4{
  font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}
.feature p{
  color: #86878b;
	font-size: 14px;
	margin: 42px 1;
}
.feature button{
  padding: 13px 36px;
  background: #ff8b38;
  border: 1px solid #ff8b38;
  color: white;
  border-radius: 4px;
}
.feature .col-md-6{
  padding: 0 44px ;
}
.feature .col-md-4{
  justify-content: flex-end;
}
.col-md-2, .feature-1 .col-md-4{
	display: flex;
  align-items: center;
  justify-content: center;
}

/* start sub-list css */
.feature-2{
	width: 100%;
	padding: 120px 0;
}
.feature-2 h5{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}

.feature-2 .line{
	width: 80px;
  height: 3px;
  background: #ff8b38;
  margin: 30px 0;
}
.feature-2 .col-md-2{
  
	text-align: right;
}
.feature-2 a i{
	height: 50px;
  width: 50px;
  border: 2px solid #ff8b38;
  text-align: center;
  line-height: 50px;
  font-size: 26px;
  border-radius: 100%;
  color: #ff8b38;
}
.feature-2 a i:hover{
	background: #ff8b38;
	color: white;
}
.feature-2 h6{
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}
.feature-2 .col-md-6 .row{
	margin-top: 40px;
}
.feature-2 .col-md-6 .row p{
	font-family: 'Open Sans', sans-serif;
}
.feature-2 .feature-img{
	display: flex;
    align-items: center;
    justify-content: flex-start;
}
/* start sub-list-2 css */
.feature-3{
	width: 100%;
	background: #f5f5f5;
	padding: 120px 0;
}
.feature-2 h5{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: #000;
}

.feature-3 .line{
	width: 80px;
    height: 3px;
    background: #ff8b38;
    margin: 30px 0;
}
.feature-2 p{
	font-family: 'Open Sans', sans-serif;
}
.feature-3 .feature-3-img{
	text-align: right;
}
/* start why css */
.about-us{
	width: 100%;
	padding: 120px 0;
	text-align: center;
}
.about-us .title{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	text-transform: uppercase;

}
.about-us .line{
	width: 80px;
  height: 3px;
  background: #ff8b38;
  margin: 30px auto;
}

.about-us  a i{
	height: 70px;
  width: 70px;
  border: 3px solid #ff8b38;
  text-align: center;
  line-height: 70px;
  font-size: 26px;
  border-radius: 100%;
  color: #ff8b38;
}
.about-us  a i:hover{
	background: #ff8b38;
	color: white;
}
.about-us h5{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	margin: 20px 0;
}
.service{
	margin: 40px 0;
}
/* start pricing css */
.pricing{
  width: 100%;
  background-color: #f5f5f5;
  padding: 120px 0px;
}
.pricing .pricing-title{
  text-align: center;
}
.pricing-title h2{
  text-transform: uppercase;
  margin: 20px 0;
  color: #333;
}
.pricing-title p{
  font-family: sans-serif;
}
.card-area .card{
  border: none;
  border-radius: none;
}
.end{
  margin: 90px 0;
  align-items: flex-end;
}
.card-area .card-header  {
  background-color: #333333;
  border-bottom: 2px solid #fff;
  padding: 20px 0;
  border-radius: 0;

}

.card-area .card-header h4 {
  color: white;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
}
.card-area .card-body{
  background-color: #333333;
  text-align: center;
  color: #fff;
  border-bottom: 8px solid #ff8b38;
}
.card-area .card-body h1{
  font-size: 100px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}
.card-area .card-body h1 span{
  font-size: 2rem;
}
.card-area .card-body p{
  color: #999999;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-style: italic;
}
.card-area .card-footer{
  padding:0px  ; 
  margin: 0px !important;
  background-color:none;
  border-top: none !important;
}
.card-area .card-footer ul {
  text-align: center;
}
.card-area .card-footer ul li {
  list-style: none;
  padding: 10px 0;
  color: #86878b;
  background: #fff;
  border-bottom: 2px solid #f5f5f5;
}
.price-middle .card-body{
  border-bottom: 0;
  padding: 0;
}
.price-middle .extra{
 background-color:#ff8b38;
 padding: 15px 0;
}
.price-middle .extra p{
  color: #fff;
  margin-bottom: 0;
}
.price-middle .middle-body{
  padding: 1.25rem;
}


/* start customer css */
.comments{
	width: 100%;
	background-color: white;
	padding: 120px 0;
	text-align: center;
}
.comments .title{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
}
.comments .line{
	width: 80px;
    height: 3px;
    background: #ff8b38;
    margin: 30px auto;
}
.box{
	position: relative;
	background: #f5f5f5;
}
.box p{
    color: black;
    font-style: italic;
    padding: 20px 18px;
    text-align: left;
}
.icon-box{
	width: 30px;
	height: 30px;
	background: #f5f5f5;
	position: absolute;
    bottom: -15px;
    left: 40px;
    transform: rotate(45deg);
}
.user{
	margin-top: 32px;
}
.user .col-md-8{
	text-align: left;
	padding: 0;
}
.user-comment{
	margin-top: 60px;
}
.user-comment .col-md-4{
	padding-left: 30px;
	padding-right: 30px;
}

/* start custom css */
.custom-section{
	width: 100%;
	background: url(./img/design.png);
	background-size: cover;
	background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
	padding: 120px 0;
	text-align: center;
}

.custom-section .title{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	color: white;
}
.custom-section .line{
	width: 80px;
  height: 3px;
  background: #fff;
  margin: 30px auto;
}
.custom-section p{
	color: white;
}
.custom-section button{
  background: transparent;
  padding: 12px 30px;
  color: #fff;
  border: none;
  border: 1px solid #e87825;
  font-family: 'Raleway',sans-serif;
  transition: .3s ease-in-out;
}
.custom-btn button:hover{
  background: #ff9b51;
  
  cursor: pointer;
}
.custom-btn{
  margin-top: 60px;
}

/* start contact css */

.contact{
	width: 100%;
	padding: 120px 0;
	background: white;
	text-align: center;
}

.contact .title{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
}
.contact .line{
	width: 80px;
  height: 3px;
  background: #ff9b51;
  margin: 30px auto;
}

.form-control{
  padding: 25px 10px !important;
  border: none !important;
  border-bottom: 1px solid #d6d6d6 !important;
  border-radius: 0;
}
.contact input::placeholder{
	color: #d6d6d6;
}
.contact.form-control:focus{
	box-shadow: none;
}
.contact-form{
	margin-top: 40px;
}
.form-group{
	margin: 30px 0;
}
textarea{
	border: none;
  border-bottom: 1px solid #d6d6d6;
  border-radius: 0; 
  width: 100%;
  margin: 20px;
}
textarea:focus{
	box-shadow: none;
	outline: none;
}

.contact-btn{
	text-align: center;
}
.contact-btn .btn-primary{
	padding: 12px 40px;
  border: 1px solid #ff9b51;
  background: #ff9b51;
  color: white;
}



